@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.csheader {
  background-color: #626567;
  color: #ffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.csparagraph {
  line-height: 1.5;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 12px;
  text-align: justify;
  color: #484848;
}

.cstitle {
  line-height: 1.5;
  color: #e70009;
  margin-left: 60px;
  margin-right: 100px;
  font-size: 15px;
}
