@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap);
body {
  font-family: Inter,sans-serif;
  margin: 0
}
.ifpheader {
  background-color: #626567;
  color: #ffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px
}
.ifpparagraph,
.ifptitle {
  line-height: 1.5;
  margin-right: 100px;
  text-align: justify
}
.ifpparagraph {
  font-size: 12px;
  color: #484848;
  margin-left: 100px
}
.ifptitle {
  color: #e70009;
  font-size: 15px;
  margin-left: 60px
}