.ppheader {
    background-color: #626567;
    color: #ffff;
    text-align: center;
    font-family: 'Inter';
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Inter';
}
.ppparagraph{
    line-height: 1.5;
    font-family: 'Inter';
    margin-left: 100px;
    margin-right: 100px;
    font-size: 12px;
    text-align: justify;
}
.pptitle{
    line-height: 1.5;
    font-family: 'Inter';
    color: #e70009;
    margin-left: 60px;
    margin-right: 100px;
    font-size: 15px;
}