@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap);
body {
  font-family: Inter,sans-serif
}
.touterms {
  color: #fff;
  text-align: center;
  font-family: Inter
}
.toudescription,
.toulist {
  font-family: Inter;
  color: #484848;
  text-align: justify;
  font-size: 12px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1.5
}
.tou-line {
  text-decoration: underline;
  color: #e70009
}
.touu-line:hover {
  opacity: .7
}
.toutitle {
  color: #e70009;
  font-size: 15px
}
.tousheader {
  background-color: #626567;
  color: #fff;
  text-align: center;
  font-family: Inter;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px
}